body{
	background-color: #FFE4C4;
}
p{
	margin-top: 20px;
	border: solid black 5px;
	border-radius: 10px;
	background-color: #5F9EA0;
}
.imgBox	{
	border: solid black 5px;
	border-radius: 10px;
	background-color: #5F9EA0;
}
.center-align{
	margin-top: 10px;
	text-align: center;	
}
.text-align{
	text-align: center;

} 

.form-group{

}

#content-display{
	margin: auto;
}

