#head
{
	border: solid black 15px;
	border-radius: 32px;
	text-align: center;
	background-color: white;
	margin-bottom: 25px;
}

#maincontent {
	color: black;
	font-size: 32px;
	border: solid black 16px;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 25px;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-transition: all 0.6s ease-in-out 0s;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-transform: translateZ(0);
}

#maincontent:hover {
	background-color: black;
	color: white;
}

#backround
{
	background-image: url(http://www.servmi.co.za/images/indaris_parchment.jpg);
	background-size: cover;

}

.navbar-custom {
	background-color: #5A5CB2;
}

.navbar-custom a {
	color: #FFD96C;
}
