#backround {
	background-image: url(http://vignette1.wikia.nocookie.net/mkwikia/images/1/1c/Arena_rooftop.jpg/revision/latest?cb=20110104004452);
	background-size: cover;
}

#border {
	color: white;
}

#resultPic {
	margin-bottom: 3%;
}

#text-colored {
	color: white;
}

