@import url(http://fonts.googleapis.com/css?family=Roboto:300,100);

$menu-height: 80px;
$menu-item-width: 100px;
$menu-color: rgb(250, 250, 250);
$menu-text-color: grey;
$menu-position: left;
$menu-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

$primary-color: rgb(54, 104, 169);
$secondary-color: rgb(47, 47, 47);
$background-color: rgb(250, 250, 250);

html {
  background: $background-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

nav {
  height: $menu-height;  
  text-align: $menu-position;
  background: $menu-color;
  color: $menu-text-color;
  box-shadow: $menu-shadow;
  
  input[type=radio] {
    display: none;
  }
  
  #page_one:checked ~ [for=page_one],
  #page_two:checked ~ [for=page_two], 
  #page_three:checked ~ [for=page_three],
  #page_four:checked ~ [for=page_four],
  #page_five:checked ~ [for=page_five]
  { 
    > div {
        background: $primary-color;
        color: white;

      &:before {     
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.06);
      } 
    }

    > section {
      display: block;
    }  
  }
  
  label {
    position: relative;
    display: inline-block;
    min-width: $menu-item-width;
       
    > div {
        cursor: pointer;    
        text-align: center;
        line-height: $menu-height; 

        &:before {
          position: absolute;      
          left: 0px;
          bottom: 0px;
          width: 0px;
          height: 0px;
          background: rgba(0, 0, 0, 0);
          content: '';   
          transition: all 0.5s;
        } 
    }
    
    section {
      position: fixed;
      display: none;
      top: $menu-height;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 20px;      
      line-height: initial;
      text-align: left;
      overflow-y: auto;      
    }
  }
}

#home { 
  background: $secondary-color;
  text-align: center;
    
  span {
    display: inline-block;
    margin-top: 20px;
    font-weight: 200;
    letter-spacing: 3px; 
    font-size: 40px;
    color: white;
  }
}
